/* Main title */
.main-title{
    font-size:42px;
    font-weight:700;
    text-align:center;
    color:#2563eb;
    margin-bottom:5px;
}

/* Subtitle */
.sub-title{
    font-size:20px;
    text-align:center;
    color:#6b7280;
    margin-bottom:25px;
}

/* Card */
.feature-card{
    padding:20px;
    border-radius:12px;
    border:1px solid #dcdcdc;
    background:#fafafa;
    margin-bottom:15px;
}

/* Footer */
.footer{
    text-align:center;
    color:gray;
    margin-top:50px;
}